mat-list-item{
  margin-top: 3vh;
}

.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
  flex-direction: column;
}

button{
  margin-left:1em;
}

mat-form-field{
  margin-right: 3vw;
}
