<div class="fixActionRow">
  <mat-dialog-content>
    <div class="container">
      <mat-list>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" placeholder="Kraj klienta" [(ngModel)]="editableFilters.country">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="date" placeholder="Od..." name="startDate" [(ngModel)]="editableFilters.startDate">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="date" placeholder="Do..." name="endDate" [(ngModel)]="editableFilters.endDate">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <mat-select placeholder="Typ klienta" [(value)]="clientType">
              <mat-option *ngFor="let clientType of availableClientTypes"
                          [value]="clientType"> {{clientType.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="number" placeholder="Minimalna cena" name="startPrice" [(ngModel)]="editableFilters.startPrice">
            <span matSuffix>zł</span>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Maksymalna cena" name="endPrice" [(ngModel)]="editableFilters.endPrice">
            <span matSuffix>zł</span>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-select placeholder="Wybierz klienta..." [(value)]="editableFilters.client">
            <mat-option value="{{null}}">Brak</mat-option>
            <mat-option *ngFor="let client of availableClients"
                        [value]="client">{{client.company.name + ": " + client.firstName + " " + client.surname}}</mat-option>
          </mat-select>
        </mat-list-item>
        <mat-list-item>
          <mat-select placeholder="Wybierz produkt..." [(value)]="editableFilters.product">
            <mat-option value="{{null}}">Brak</mat-option>
            <mat-option *ngFor="let product of availableProducts"
                        [value]="product">{{product.name}}</mat-option>
          </mat-select>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="warn">Anuluj</button>
    <button mat-flat-button color="primary" (click)="updateFilters()">Zatwierdź</button>
  </mat-dialog-actions>
</div>
