<div class="fixActionRow">
  <h2 mat-dialog-title>{{product.name}}</h2>
  <mat-dialog-content>
    <mat-grid-list [cols]="3">
      <mat-grid-tile>
        <img class="img-thumbnail" src="{{product.image}}" alt=""/>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="row">
          <div class="col-12">
            <h4>Cena:</h4>
          </div>
          <div class="col-12">
            <span>{{product.price}} zł</span>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="row">
          <div class="col-12">
            <h4>Ilość:</h4>
          </div>
          <div class="col-12">
            <span>{{product.quantity}} szt.</span>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="warn">Zamknij</button>
    <button mat-flat-button mat-dialog-close color="primary" (click)="buy()">Kup</button>
  </mat-dialog-actions>
</div>
