.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex-grow: 1;
  flex-direction: column;
}

button{
  margin-left:1em;
}

mat-spinner{
  position: absolute;
  margin-top: 20vh;
  margin-left: 13vw;
}
