.fixActionRow {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-dialog-content {
  height: 100%;
  overflow-y: hidden;
}

.spacer {
  flex-grow: 1;
  flex-direction: column;
}

button {
  margin-left: 1em;
}

mat-table {
  width: 100%;
}

mat-row:hover {
  background: #d3d3d3;
  cursor: pointer;
}

.stretched {
  flex: 0 0 10% !important;
}

#products {
  overflow-y: auto;
  height: 40vh;
}

mat-form-field {
  width: 100%;
}
