<div class="fixActionRow">
  <mat-dialog-content>
    <div class="spacer"></div>
    <mat-card>
      <h4>Produkt: </h4>
      <mat-form-field>
        <mat-select [(value)]="transactionDetails.product" placeholder="Dodaj produkt">
          <mat-option *ngFor="let product of availableProducts" [value]="product"> {{product.name}} </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
    <br> <br> <br> <br>
    <h4>Ilość: </h4>
    <mat-card>
      <mat-form-field>
        <input [(ngModel)]="transactionDetails.quantity" type="number" matInput placeholder="Podaj ilość">
      </mat-form-field>
    </mat-card>
    <div class="row">
      <div class="col-5"></div>
      <div class="col-4">
        <mat-spinner align="end" *ngIf="isRequestInProgress"></mat-spinner>
      </div>
    </div>
    <br> <br> <br> <br>
    <mat-card *ngIf="errorMessage.length > 0">
      <p>{{errorMessage}}</p>
    </mat-card>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" (click)="save()">Zapisz</button>
    <button mat-flat-button mat-dialog-close color="warn">Zamknij</button>
  </mat-dialog-actions>
</div>
