<div *ngIf="isSignedUp; else signupForm">
  Rejestracja przebiegła pomyślnie! Zaloguj się!
</div>

<ng-template #signupForm>
  <div class="row col-sm-6" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="form.name" #name="ngModel" required/>
        <div *ngIf="f.submitted && name.invalid">
          <div *ngIf="name.errors.required">Podaj imię</div>
        </div>
      </div>
      <div class="form-group">
        <label for="surname">Nazwisko</label>
        <input type="text" class="form-control" name="surname" [(ngModel)]="form.client.surname" #surname="ngModel" required/>
        <div *ngIf="f.submitted && surname.invalid">
          <div *ngIf="surname.errors.required">Podaj nazwisko</div>
        </div>
      </div>
      <div class="form-group">
        <label for="company">Firma</label>
        <input type="text" class="form-control" name="company" [(ngModel)]="form.client.company.name" #company="ngModel"/>
      </div>
      <div class="form-group">
        <label for="street">Ulica</label>
        <input type="text" class="form-control" name="street" [(ngModel)]="form.client.address.street" #street="ngModel" required/>
        <div *ngIf="f.submitted && street.invalid">
          <div *ngIf="street.errors.required">Podaj ulicę</div>
        </div>
      </div>
      <div class="form-group">
        <label for="city">Miasto</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="form.client.address.city" #city="ngModel" required/>
        <div *ngIf="f.submitted && city.invalid">
          <div *ngIf="city.errors.required">Podaj miasto</div>
        </div>
      </div>
      <div class="form-group">
        <label for="country">Kraj</label>
        <input type="text" class="form-control" name="country" [(ngModel)]="form.client.address.country" #country="ngModel" required/>
        <div *ngIf="f.submitted && city.invalid">
          <div *ngIf="country.errors.required">Podaj kraj</div>
        </div>
      </div>
      <div class="form-group">
        <label for="houseNumber">Numer domu</label>
        <input type="text" class="form-control" name="houseNumber" [(ngModel)]="form.client.address.houseNumber" #houseNumber="ngModel" required/>
        <div *ngIf="f.submitted && houseNumber.invalid">
          <div *ngIf="houseNumber.errors.required">Podaj numer domu</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Numer komórki</label>
        <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="form.client.contact.phoneNumber" #phoneNumber="ngModel"/>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email/>
        <div *ngIf="f.submitted && email.invalid">
          <div *ngIf="email.errors.required">Podaj email</div>
          <div *ngIf="email.errors.email">Nieprawidłowy adres email</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Podaj hasło</div>
          <div *ngIf="password.errors.minlength">Hasło musi mieć minimum 6 znaków</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Zarejestruj</button>
        <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Rejestracja nie udała się!<br/>{{errorMessage}}
        </div>
      </div>
    </form>
  </div>
</ng-template>
