<mat-spinner *ngIf="productsFetched == false;else displayProducts"></mat-spinner>
<ng-template #displayProducts>
  <div class="containter">
    <mat-card>
      <mat-card-content>
        <mat-grid-list cols="3">
          <mat-grid-tile *ngFor="let product of products" (click)="buyProduct(product)">
            <div class="image-container">
              <img src="{{product.image}}" class="image">
              <div class="middle">
                <strong>{{product.name}}</strong>
                <br><br>
                <strong>{{product.price}} zł</strong>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
