<nav class="navbar navbar-light" style="background-color:#f60;">
  <span class="navbar-brand mb-0 h1 text-light" routerLink="/"><i class="fas fa-award"></i>Alledrogo</span>
  <span class="mr-auto"></span>
  <button class="btn btn-info mr-2" routerLink="" >Sklep</button>
  <button *ngIf="!hasNoAuthority()" class="btn btn-info mr-2" routerLink="history" >Historia zakupów</button>
  <button *ngIf="hasNoAuthority()" class="btn btn-info mr-2" routerLink="auth/login">Zaloguj</button>
  <button *ngIf="isAdmin()" class="btn btn-info mr-2" routerLink="admin" >Admin</button>
  <button *ngIf="!hasNoAuthority()" class="btn btn-info mr-2" routerLink="" (click)="signout()">Wyloguj</button>
</nav>
