<p>
  Witaj, {{username}}!
  <br>Oto Twoja historia zakupów:
</p>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Data </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.date | date}} </td>
  </ng-container>

  <ng-container matColumnDef="product" *ngIf="products != undefined;else staticName">
    <th mat-header-cell *matHeaderCellDef> Nazwa produktu </th>
    <td  mat-cell *matCellDef="let transaction"> {{products[transaction.transactionDetails[0].productId]}} </td>
  </ng-container>

  <ng-template #staticName>
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Nazwa produktu </th>
      <td  mat-cell *matCellDef="let transaction"> </td>
    </ng-container>
  </ng-template>

  <ng-container matColumnDef="totalPrice">
    <th mat-header-cell *matHeaderCellDef> Cena całkowita </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.totalPrice}} zł </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


