<div class="fixActionRow">
  <mat-dialog-content>
    <p>
      Aby kupić przedmiot musisz się zalogować!
    </p>
  </mat-dialog-content>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="warn">Zamknij</button>
    <button mat-flat-button mat-dialog-close color="primary" routerLink="auth/login">Zaloguj</button>
  </mat-dialog-actions>
</div>
