.html,body{
  background: aliceblue!important;
}

.gray-background{
  min-height: 100vh;
  background: aliceblue!important;
}

#navigation {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.content {
  padding-top: 80px!important;
}

