<div class="container">
  <mat-card>
    <mat-card-content class="mat-elevation-z0">
      <mat-card-actions>
        <mat-grid-list cols="5" rowHeight="5:1">
          <mat-grid-tile>
            <button mat-flat-button color="primary" routerLink="/admin">Powrót</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary" (click)="addNewTransaction()">Dodaj transakcje</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>

      <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Id">
          <mat-header-cell *matHeaderCellDef> Numer zamówienia </mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let transaction"> {{transaction.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Company">
          <mat-header-cell *matHeaderCellDef> Firma </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.client.company.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="FirstName">
          <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.client.firstName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Surname">
          <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.client.surname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="TotalPrice">
          <mat-header-cell *matHeaderCellDef> Cena całkowita </mat-header-cell>
          <mat-cell *matCellDef="let transaction"> {{transaction.totalPrice}} zł</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let transaction; columns: columnsToDisplay" (click)="showTransactionDetails(transaction)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

      <div class="row">
        <div class="col-5"></div>
        <div class="col-4">
          <mat-spinner align="end" *ngIf="transactionsFetched == false"></mat-spinner>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
