<div class="container">
  <mat-card>
    <mat-card-content class="mat-elevation-z0">
      <mat-card-actions>
        <mat-grid-list cols="5" rowHeight="5:1">
          <mat-grid-tile>
            <button mat-flat-button color="primary" routerLink="/admin">Powrót</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary" (click)="addNewProduct()">Dodaj przedmiot</button>
          </mat-grid-tile>
          <mat-grid-tile>
            <button mat-flat-button color="primary" [disabled]="selectedProducts.selected.length == 0" (click)="delete()">Usuń wybrane przedmioty</button>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-actions>

      <mat-form-field class="full-width">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="Select">
          <mat-header-cell class="stretched" *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selectedProducts.hasValue() && isAllSelected()"
                          [indeterminate]="selectedProducts.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell class="stretched" *matCellDef="let product">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selectedProducts.toggle(product) : null"
                          [checked]="selectedProducts.isSelected(product)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef> Nazwa</mat-header-cell>
          <mat-cell class="pr-5" *matCellDef="let product"> {{product.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="ProductType">
          <mat-header-cell *matHeaderCellDef> Kategoria</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.productType.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Quantity">
          <mat-header-cell *matHeaderCellDef> Cena</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.price}} zł</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Price">
          <mat-header-cell *matHeaderCellDef> Ilość</mat-header-cell>
          <mat-cell *matCellDef="let product"> {{product.quantity}} szt.</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let product; columns: columnsToDisplay" (click)="showProductDetails(product)"></mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>

      <div class="row">
        <div class="col-5"></div>
        <div class="col-4">
          <mat-spinner align="end" *ngIf="productsFetched == false"></mat-spinner>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
