<mat-spinner *ngIf="isRequestInProgress"></mat-spinner>
<div class="fixActionRow">
  <mat-dialog-content [ngClass]="isRequestInProgress? 'grayedOut' : ''">
    <mat-grid-list [cols]="3" rowHeight="1:1">
      <mat-grid-tile [colspan]="3">
        <mat-form-field class="product-name">
          <input [(ngModel)]="product.name" matInput placeholder="Nazwa przedmiotu" required>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="product.image != undefined; else imagePlaceholder">
        <img class="img-thumbnail" src="{{product.image}}"/>
      </mat-grid-tile>
      <ng-template #imagePlaceholder>
        <mat-grid-tile>
          <img class="img-thumbnail" src="assets/image_placeholder.png"/>
        </mat-grid-tile>
      </ng-template>
      <mat-grid-tile [colspan]="2">
        <mat-list>
          <mat-list-item>
            <mat-form-field>
              <input [(ngModel)]="product.price" type="number" matInput placeholder="Cena" value="" required>
            </mat-form-field>
            <span>zł</span>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <input [(ngModel)]="product.quantity" type="number" matInput placeholder="Ilość" value="" required>
            </mat-form-field>
            <span>szt.</span>
          </mat-list-item>
          <mat-list-item>
            <mat-select [(ngModel)]="product.productType" placeholder="Kategoria" required>
              <mat-option *ngFor="let type of availableProductTypes" [value]="type"> {{type.name}} </mat-option>
            </mat-select>
          </mat-list-item>
          <mat-list-item>
            <mat-form-field>
              <input [(ngModel)]="imageUrl" type="url" matInput placeholder="Link do zdjęcia" value="">
            </mat-form-field>
            <button type="submit" mat-flat-button color="primary" (click)="loadImage()">Wczytaj zdjęcie</button>
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div>
      <button mat-flat-button color="primary" (click)="save()">Zapisz</button>
      <button mat-flat-button color="warn" (click)="cancel()">Anuluj</button>
    </div>
  </mat-dialog-actions>
</div>
