<div class="container">
  <div class="row col-sm-4"></div>
  <div class="row col-sm-4" style="max-width:350px;">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="username">Email</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
               required/>
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Email jest wymagany</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6"/>
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Hasło jest wymagane</div>
          <div *ngIf="password.errors.minlength">Hasło musi posiadać minimum 6 znaków</div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Zaloguj</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr/>
    <p>Nie masz konta?</p>
    <br>
    <a href="auth/register" class="btn btn-success">Zarejestruj się</a>
  </div>
</div>
