.green{
  background: green;
}

.red{
  background: red;
}

.purple{
  background: purple;
}

.with-padding{
  padding: 3vh;
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
